---
import type { SelectProperty } from "../../../../../lib/interfaces.ts";
import { getPostsByTagAndPage, getRankedPosts, getAllTags, getNumberOfPagesByTag } from "../../../../../lib/notion/client.ts";
import Layout from "../../../../../layouts/Layout.astro";
import BlogPostIndex from "../../../../../components/BlogPostIndex.astro";
import Pagination from "../../../../../components/Pagination.astro";
import BlogPostsLink from "../../../../../components/BlogPostsLink.astro";
import BlogTagsLink from "../../../../../components/BlogTagsLink.astro";
import styles from "../../../../../styles/blog.module.css";
import "../../../../../styles/notion-color.css";

export async function getStaticPaths() {
  const allTags = await getAllTags();
  let params = [];
  await Promise.all(
    allTags.map((tag: SelectProperty) => {
      return getNumberOfPagesByTag(tag.name).then((numberOfPages: number) => {
        for (let i = 2; i <= numberOfPages; i++) {
          params.push({ params: { tag: tag.name, page: i.toString() } });
        }
      });
    })
  );
  return params;
}

const { tag, page } = Astro.params;
const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([getPostsByTagAndPage(tag, parseInt(page, 10)), getRankedPosts(), getAllTags(), getNumberOfPagesByTag(tag)]);
const currentTag = posts[0].Tags.find((t) => t.name === tag);
---

<Layout title={`Posts in ${tag} ${page}/${numberOfPages}`} path={`/blog/tag/${tag}/page/${page}`}>
  <div class="flex flex-wrap justify-between">
    <main class="w-full lg:w-4/5">
      <header>
        <h2><span class={`tag ${currentTag.color}`}>{tag}</span> {page}/{numberOfPages}</h2>
      </header>

      <article>
        <BlogPostIndex posts={posts} />
      </article>

      <footer>
        <Pagination tag={tag} currentPage={parseInt(page, 10)} numberOfPages={numberOfPages} />
      </footer>
    </main>

    <aside class="w-full lg:w-1/6">
      <BlogPostsLink heading="★ おすすめ記事" posts={rankedPosts} />
      <BlogTagsLink heading="★ タグ一覧" tags={tags} />
    </aside>
  </div>
</Layout>
