---
import { getPostsByPage, getRankedPosts, getAllTags, getNumberOfPages, getPostsByPage } from "../../../lib/notion/client.ts";
import Layout from "../../../layouts/Layout.astro";
import BlogPostIndex from "../../../components/BlogPostIndex.astro";
import Pagination from "../../../components/Pagination.astro";
import AsideProfile from "../../../components/AsideProfile.astro";
import BlogPostsLink from "../../../components/BlogPostsLink.astro";
import BlogTagsLink from "../../../components/BlogTagsLink.astro";
import styles from "../../../styles/blog.module.css";

export async function getStaticPaths() {
  const numberOfPages = await getNumberOfPages();
  let params = [];
  for (let i = 2; i <= numberOfPages; i++) {
    params.push({ params: { page: i.toString() } });
  }
  return params;
}

const { page } = Astro.params;
const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([getPostsByPage(parseInt(page, 10)), getRankedPosts(), getAllTags(), getNumberOfPages()]);
---

<Layout title={`Posts ${page}/${numberOfPages}`} path={`/blog/page/${page}`}>
  <div class="flex flex-wrap justify-between">
    <main class="w-full lg:w-3/4">
      <header>
        <h2>{page}/{numberOfPages}</h2>
      </header>

      <article>
        <BlogPostIndex posts={posts} />
      </article>

      <footer>
        <Pagination
          currentPage={parseInt(page, 10)}
          numberOfPages={numberOfPages}
        />
      </footer>
    </main>

    <aside class="w-full lg:w-1/6">
      <AsideProfile />
      <BlogPostsLink heading="★ おすすめ記事" posts={rankedPosts} />
      <BlogTagsLink heading="★ タグ一覧" tags={tags} />
    </aside>
  </div>
</Layout>
