---
import { Post } from '../lib/interfaces.ts'
import NoContents from './NoContents.astro'
import PostDate from './PostDate.astro'
import PostTags from './PostTags.astro'
import PostTitle from './PostTitle.astro'
import PostFeaturedImage from './PostFeaturedImage.astro'
import PostExcerpt from './PostExcerpt.astro'
import ReadMoreLink from './ReadMoreLink.astro'
export interface Props {
  posts: [Post]
}
const { posts } = Astro.props
---

<section class="text-gray-600 overflow-hidden">
  <div class="container py-6 mx-auto divide-gray-200 border-y-2 border-gray-200">
    <div class="-my-8 divide-y-2">
      {
        posts.length === 0 ? (
          <NoContents contents={posts} />
        ) : (
          posts
            .filter((post) => post.Slug.match(/^[^_]/))
            .map((post) => (
              <div key={post.Slug}>
                <div class="py-6 flex flex-wrap md:flex-nowrap flex-col md:flex-row md:items-baseline">
                  <div class="md:w-40 md:mb-0 mb-2 flex-shrink-0 flex flex-col">
                    <span class="flex flex-col">
                      <PostTags post={post} />
                    </span>
                    <span class="mt-1">
                      <PostDate post={post} />
                    </span>
                  </div>
                  <div>
                    <span>
                      <PostTitle post={post} />
                    </span>
                    <span>
                      <PostExcerpt post={post} />
                    </span>
                    <span>
                      <ReadMoreLink post={post} />
                    </span>
                  </div>
                </div>
              </div>
            ))
        )
      }
    </div>
  </div>
</section>
