---
import { PUBLIC_SITE_TITLE, PUBLIC_SITE_DESCRIPTION, PUBLIC_GA_TRACKING_ID } from "../server-constants.ts";
// import "../styles/syntax-coloring.css";
import GoogleAnalytics from "../components/GoogleAnalytics.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  title: string;
  desctiption: string;
  path: string;
}

const { title = "", description = "", path = "/" } = Astro.props;

const siteTitle = title ? `${title} - ${PUBLIC_SITE_TITLE}` : PUBLIC_SITE_TITLE;
const siteDescription = description ? description : PUBLIC_SITE_DESCRIPTION;
const siteURL = new URL(path, Astro.site).toString();
const siteOGImage = new URL("/default-og-image.png", Astro.site);
---

<!DOCTYPE html>
<html lang="ja" prefix="og: https://ogp.me/ns#">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="max-image-preview:large" />
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteTitle}</title>
    <meta name="description" content={siteDescription} />
    <link rel="canonical" href={siteURL} />
    <meta property="og:url" content={siteURL} />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={siteDescription} />
    <meta property="og:site_name" content={PUBLIC_SITE_TITLE} />
    <meta property="og:image" content={siteOGImage} />
    <meta name="twitter:title" content={siteTitle} />
    <meta name="twitter:description" content={siteDescription} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={siteOGImage} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css"
      integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <GoogleAnalytics trackingId={PUBLIC_GA_TRACKING_ID} />
    <Header path={path} />
    <div class="container mx-auto max-w-5xl px-4">
      <slot />
    </div>
    {
      /* TODO: ヘッダーと重ならないようにする
      https://tanomasaki.com/headernav-fixed/
      */
    }
    <Footer />
    <script is:inline src="/node_modules/preline/dist/preline.js"></script>
  </body>
</html>

<style></style>
